<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Access Denied</title>
        <link rel="stylesheet" href="/css/login.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>

        <form action="/" method="get">
            
            <h1 class="alert">Access Denied</h1>

            <div class="login_container">

                <input type="submit" value="Go to login page"/>

            </div>

        </form>

    </body>

</html>