<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="/css/login.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
            <h2 id="hadder">Inventory System Login Page</h2>
        

        <form action="/" method="POST">
            
            <h2>Login Form</h2>

            <div class="login_container">

                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter Username" required/>
                
                <label for="pwd">Password</label>
                <input type="password" id="pwd" name="pwd" placeholder="Enter Password" required/>
                
                <span id="error"><%=error%></span>

                <input type="submit" value="Login"/>

            </div>

        </form>

    </body>

</html>