<!DOCTYPE html>

<html>

<head>
    <title>
        Customers
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/viewCustomers.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dancing Script">
</head>

<body>

    <div class="wrapper">
        <div class="topnav" id="navbar">
            <div class="topnav" id="navbar">
                <div class="reverse">
                    <a href="/api/products/inventory">Inventory</a>
                    <a href="/api/products/update_delete">Update/Delete</a>
                    <a href="/api/orders/createOrder">Create Order</a>
                    <div class="dropDown">
                        <button class="dropBtn">Other Options
                            <i class="fa fa-caret-down"></i>
                        </button>

                        <div class="dropdown-content">
                            <a href="/api/products/add/" target="_blank">Add Product</a>
                            <a href="/api/customers/view/" class="active" target="_blank">View Customers</a>
                            <a href="/api/orders/view/" target="_blank">View Orders</a>
                            <a href="/api/products/stock_In_Short" target="_blank">Stock in short</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="search">
            <form action="/api/customers/searchCustomer/" method="POST" class="searchForm">

                <div class="formRow">

                    <h4>Search Customer</h4>

                    <div class="row">
                        <label for="search">Custname/PhoneNo: </label>
                        <input type="text" name="txtSearch" id="txtSearch">
                    </div>

                    <div class="btn">
                        <button class="btn btn-primary" id="btnSearch">Search</button>
                    </div>
                </div>

            </form>
        </div>

        <div class="fixed_header">

            <table id="table">
                <thead>
                    <tr>
                        <th>S No.</th>
                        <th>Phone Number: </td>
                        <th>Customer Name: </th>
                    </tr>
                </thead>
                <div id="scroll">
                    <tbody>
                        <% customers.forEach((item, index)=>{%>
                            <tr>
                                <td>
                                    <%= index + 1 %>
                                </td>
                                <td>
                                    <%=item.phone%>
                                </td>
                                <td>
                                    <%=item.custName%>
                                </td>
                            </tr>
                            <%});%>
                    </tbody>
                </div>
            </table>
        </div>

        <footer id="footer">
            <div class="parent-footer">
        </footer>

    </div>
    
    <script>
            var data = JSON.parse('<%- JSON.stringify(customers) %>');
    </script>

    <script src="/js/inventory.js">
    </script>

</body>

</html>